
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(217, 255, 127);
}

header {
    /* margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; */

    margin: 12px;
    display: flex;
    justify-content: space-between;
}


.nav-links li {
    list-style: none;
    margin-left: 20px;
}

.nav-links {
    display: flex;
}

.hero-sec {
    display: flex;
    align-items: center;
    margin: 0 12px;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    margin-bottom: 20px;
    
}

.hero-text p {
    margin-bottom: 20px;
}

.hero-img {
    width: 50%;
}

.hero-img img {
   height: 350px; 
}

button {
    padding: 10px;
    background-color: transparent;
    border-color: #6C63FF;
    border-radius: 20px;
    margin-right: 20px;
}